@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
.align-center {
  text-align: center;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}








#desc{
	padding: 20px;
	text-align:center;
	background-color: 	#5cd2ff;
	padding-bottom: 5%;
}
#desc-title{
margin: 4%;
	font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: bold;  
}
#desc-content{
	font-family: Lusitana, serif;
  font-size: 18px;
}
#choose{
	padding: 15px;
}
#why{
			display: inline-block;
			max-width: 50%;
			position:relative;
			float: center;
			padding-top: 6%;
			padding-left: 10%;
			text-align:center;
			padding-left:20%;
			
}
#why  h1{
	font-family: Raleway, sans-serif;
	font-size: 30px;
	font-weight: bold;
}
#why p{
	font-family: Lusitana, serif;
	font-size: 20px;
}
#graph{
			display: inline-block;
			max-width: 50%;
			position:relative;
			float: right;
			padding: 5%;
}
